/graduate_school/rcsb/raw_xml
/graduate_school/peptide_binding_mvp/data
/graduate_school/peptide_binding_mvp/results
graduate_school/peptide_binding_mvp/HuggingFace Access token.txt
graduate_school/peptide_binding_mvp/펩타이드 발굴 파이프라인 전체 소요 시간.txt
graduate_school/speaker_diarization/huggingface_token.txt
